
<button class="play-button pad-member" data-src="<%= audio_src %>"><%= button_label %></button>
<audio class="audio-player">
    <source src="<%= audio_src %>" type="audio/wav">
    Your browser does not support the audio element.
</audio>
