<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;800&display=swap" rel="stylesheet">
</head>

<body>

  <%= render 'home/header' %>
  <%= render 'home/navbar' %>

  <div class="center-preset-buttons">
  <a href="#" class="previous round" id="backButton">&#8249;</a>
  <h1 class="center-preset" id="presetLabel"></h1>
  <a href="#" class="next round" id="nextButton">&#8250;</a>
  </div>

  <div class="pad-container" id="rubyCodeContainer">
  </div>

  <%= render 'home/footer' %>

  

</body>