<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;800&display=swap" rel="stylesheet">
</head>

<body>
<%= render 'home/header' %>
<%= render 'home/navbar' %>

<br><br>

<div class="center-preset-buttons">
<a href="#" class="previous round">&#8249;</a>
<h1 class="center-preset"> Preset 1 </h1>
<a href="#" class="next round">&#8250;</a>
</div>

<div class="pad-container">
  <div class="pad-member">Pad 1</div>
  <div class="pad-member">Pad 2</div>
  <div class="pad-member">Pad 3</div>
  <div class="pad-member">Pad 4</div>
  <div class="pad-member">Pad 5</div>
  <div class="pad-member">Pad 6</div>
  <div class="pad-member">Pad 7</div>
  <div class="pad-member">Pad 8</div>
  <div class="pad-member">Pad 9</div>
  <div class="pad-member">Pad 10</div>
  <div class="pad-member">Pad 11</div>
  <div class="pad-member">Pad 12</div>
  <div class="pad-member">Pad 13</div>
  <div class="pad-member">Pad 14</div>
  <div class="pad-member">Pad 15</div>
  <div class="pad-member">Pad 16</div>
</div>

</body>