
  <strong>Preset Name:</strong>
  <%= selected_preset.filename %>


  <div class="pad-container" id="customCodeContainer">
 
  <% selected_preset.audio_files.each do |audio_file| %>
 
    <button class="play-button pad-member" data-src="<%= rails_blob_path(audio_file) %>" >Test</button>
        <audio class="audio-player">
            <source src="<%= rails_blob_path(audio_file) %> type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>


  <% end %>


  </div>






