<%= form_with(model: preset) do |form| %>
  <% if preset.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(preset.errors.count, "error") %> prohibited this preset from being saved:</h2>

      <ul>
        <% preset.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
