<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>

<h1>New preset</h1>

<%= render "form", preset: @preset %>

<br>

<div>
  <%= link_to "Back to presets", presets_path %>
</div>

</body>