/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  font-family: 'Plus Jakarta Sans', sans-serif;
 }

 body {
  background-color: #ffffff;
 }

 #form-label {
  color: black;
 }

 .center {
  text-align: center;
 }

/* Navbar Elements */

.nav-container {
    background:#FF7474; 
    overflow:auto;
    margin-bottom: 20px;
    padding: 8px 5px 8px 5px;
    border-radius: 15px;
}
.navbar-label {
    float: left;
    position: relative;
    padding: 8px 0px 8px 5px;
    margin: auto;
    font-size:25px;
    color: white;
    font-weight: 700;

    text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.4);
}

.nav-item {
    display: inline;
    float: right;
}

.nav-btn {
    margin: 2px 5px 5px 5px;
    display: block;
    color: white;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    padding: 14px 16px;
    background-color:transparent;
    border: none;
    border-radius: 6px;
    transition: all 0.1s;
    text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.4);
}

.nav-btn:hover {
    background-color: #b3b3b3;
    cursor: pointer;
}

.prof-pic {
    display:block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    float: left;
}

.title-container {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  color: black;
}
/* Pad Elements */

.pad-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    max-width: 650px;
    text-align: center;
    margin: auto;
  }

  .pad-member {
    background-color:#FF7474;
    border: none;
    aspect-ratio: 1;
  }

  .pad-member:hover {
    background-color: #b3b3b3;
  }

  /* Header Elements */

  .header {
    text-align: center;
    color: black;
    font-weight: 500;
  }

  .footer {
    text-align: center;
    color: black;
    background-color: #ffffff; 
    font-weight: 500;
  }

  /* Preset Elements */

  .preset-container{
    text-align: center;
    font-weight: 300;

  }

  .center-preset-buttons {
    text-align: center;
  }

  #presets {
    font-size: 24px;
    
  }

  #preset-menu {
    font-size: 24px;
    
  }

